
<div class="history" style="background: gray; border-radius: 3px; border: 3px black solid;"></div>

<script src="http://code.jquery.com/jquery.min.js"></script>`
<script src="./jquery.isotope.min.js"></script>

<script src="http://<%= request.host%>:8080/application.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
  $(function() {
      var $isotope_container = $(".history");
      $isotope_container.isotope({
itemSelector: 'p'
});
      var jug = new Juggernaut;
      jug.subscribe("channel1", function(data){
        $(".history").append('<p>' + data + '</p>')
        });
      </script>
